<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(title, content)">

<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Default</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <!-- Navbar -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <!-- Conteúdo -->
    <main class="content">
        <div th:replace="${content}"></div>
    </main>

    <!-- Footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>