* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  height: 60px;
  background: #333;
  color: white;
}

/* Conteúdo central */
.content {
  flex: 1;
  padding: 20px;
}

/* Footer */
.footer {
  height: 60px;
  background: #333;
  color: white;
}