<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar" class="navbar">
    <div class="nav-brand"><a th:href="@{/home}">VRUMM</a></div>
    <div class="nav-links">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/clientes}">Clientes</a>
        <a th:href="@{/pedidos/novo}">Novo pedido</a>
        <a th:href="@{/swagger-ui/index.html}">Swagger</a>
        <span class="nav-user" th:if="${cliente != null}" th:text="${cliente.nome}">Cliente</span>
        <a class="nav-logout" th:if="${cliente != null}" th:href="@{/logout}">Sair</a>
    </div>
</div>
</body>
</html>
